.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    aling-content: flex-start;

    font-family: 'Itim', cursive;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: black;
}

main{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: normal;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    aling-content: flex-end;

    font-family: 'Itim', cursive;
    font-weight: 400;
    font-style: normal;
}