<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>R2 Fitness</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h3 class = header.home>Home</h3>
        <h3 class = header.produtos>Produtos</h3>
        <h3 class = header.loja-fisica>Loja física</h3>
        <h3 class = header.perfil>Perfil</h3>
    </header>
    <div>
        <h1>
            Seja bem-vindo a R2 Fitness
        </h1>
        <h2>
            Roupas e produtos
        </h2>
    </div>
    <footer>
        <h3 class = "footer.numero">Número</h3>
        <h3 class = "footer.endereco">Endereço</h3>
        <h3 class = "footer.instagram">Instagram</h3>
        <h3 class = "footer.email">E-mail</h3>
    </footer>
</body>
</html>