<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>R2 Fitness</title>
    <meta name="description" content="Loja de roupas e produtos de fitness">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <a>LOGO</a>
            <a href="main-menu.html">Home</a>
            <a href="">Produtos</a>
            <a href="">Perfil</a>
        </nav>
    </header>
    <main>
        <h1>Destaques</h1>
        <h2>Roupas e produtos</h2>
    </main>
    <footer>
        <a>Número</a>
        <a href="https://www.google.com/maps/place/R.+Gustavo+Sampaio,+1501+-+Parquel%C3%A2ndia,+Fortaleza+-+CE,+60455-001/@-3.7355571,-38.5603076,17z/data=!3m1!4b1!4m6!3m5!1s0x7c7497768dbbbef:0x8215f17c8d5e5636!8m2!3d-3.7355625!4d-38.5577327!16s%2Fg%2F11f3vr2qsy?entry=ttu&g_ep=EgoyMDI1MDczMC4wIKXMDSoASAFQAw%3D%3D" target="_blank">Endereço</a>
        <a href="https://www.instagram.com/r2_fitnesss" target="_blank">Instagram</a>
    </footer>
</body>
</html>